<div class="container">
  <label id="example-radio-group-label">
    <audio id="audio" (play)="audioPlayed($event)" [src]="'assets/'+gunSoundGame.gunSound.audio" [volume]="1" controls controlsList="nodownload"></audio>
  </label>
  <mat-radio-group required
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="guess" (change)="guessed($event)">
    @for (option of gunSoundGame.options; track option) {
      <mat-radio-button class="example-radio-button" [value]="option">{{option.name}}</mat-radio-button>
    }
  </mat-radio-group>
</div>
