<div class="accordion-wrapper">
@if (isLoadingAmmos) {
  <ngx-skeleton-loader [count]="numberOfItems" appearance="line"
                       [theme]="{height: '150px'}"></ngx-skeleton-loader>
} @else {
  <mat-accordion class="example-headers-align" multi>
    @for (ammo of ammos; track ammo) {
      <app-guessing-item [solution]=ammo [options]=allAmmos (guessedEvent)="guessed($event)"></app-guessing-item>
    }
  </mat-accordion>
  <button class="fixed" mat-mini-fab color="primary" (click)="newGame()" matTooltip="New game"
          aria-label="Example icon button with a menu icon">
    <mat-icon>refresh</mat-icon>
  </button>
}
</div>
