<mat-expansion-panel hideToggle disabled [expanded]="!isCompleted" class="example-headers-align">
    @if (isCompleted) {
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img [ngSrc]="solution.item.inspectImageLink" height="50" width="73" priority alt="ammo">
      </mat-panel-title>
      <mat-panel-description>
        {{solution.item.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    }


  <img [ngSrc]="solution.item.inspectImageLink" height="50" width="73" priority alt="ammo">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Ammo</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event.option.value)">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option.item.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-expansion-panel>
