<mat-expansion-panel hideToggle disabled [expanded]="!isCompleted" class="example-headers-align">
    @if (isCompleted) {
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="ammo-image" [ngSrc]="solution.item.inspectImageLink" height="30" width="43.8" priority alt="ammo">
        </mat-panel-title>
        <mat-panel-description>
          {{solution.item.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    }
    <img class="ammo-image"
       [ngSrc]="solution.item.inspectImageLink" width="87.6" height="60"  priority alt="ammo"
       (click)="openImageDialog(solution.item.inspectImageLink)">
    <mat-form-field class="example-full-width">
      <mat-label>Type the ammo</mat-label>
      <input type="text" matInput [formControl]="guessAmmoControl" [matAutocomplete]="auto" [errorStateMatcher]="autoCompleteStateMatcher">
      @if (guessAmmoControl.getRawValue()) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="guessAmmoControl.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (guessAmmoControl.hasError('required')) {
        <mat-error>Guess the ammo</mat-error>
      }
      @if (guessAmmoControl.hasError('wrong_guess')) {
        <mat-error>Wrong guess</mat-error>
      }
      <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event.option.value)">
        @for (group of filteredOptions | async; track group) {
          <mat-optgroup [label]="group.caliber">
            @for (option of group.ammos; track option) {
              <mat-option [value]="option">{{option.item.shortName}}</mat-option>
            }
          </mat-optgroup>
        }
      </mat-autocomplete>
    </mat-form-field>
</mat-expansion-panel>
